.user-details-container {
  display: flex;
  padding-right: 20%;
  justify-content: center;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  height: 30px;
}

.user-name {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 10px;

}
